In [39]:
# Step 1: Import pandas
import pandas as pd

In [40]:
# Step 2: Load your data
msft = pd.read_csv('Microsoft_Financials.csv')
tesla = pd.read_csv('Tesla_Financials.csv')
apple = pd.read_csv('Apple_Financials.csv')

# Step 3: Add a company name column
msft['Company'] = 'Microsoft'
tesla['Company'] = 'Tesla'
apple['Company'] = 'Apple'

In [41]:
# Step 4: Combine all three datasets into one
df = pd.concat([msft, tesla, apple], ignore_index=True)

# Step 5: Sort by Company and Year to prepare for trend analysis
df = df.sort_values(by=['Company', 'Year'])

In [42]:
# Step 6: Analyze trends with pandas
df['Revenue Growth %'] = df.groupby('Company')['Total Revenue'].pct_change() * 100
df['Net Income Growth %'] = df.groupby('Company')['Net Income'].pct_change() * 100

# Step 7: View the result
df[['Company', 'Year', 'Total Revenue', 'Revenue Growth %', 'Net Income', 'Net Income Growth %']]

,Company,Year,Total Revenue,Revenue Growth %,Net Income,Net Income Growth %
8,Apple,2022,365800,NaN,94700,NaN
7,Apple,2023,394300,7.791143,99800,5.385428
6,Apple,2024,383300,-2.789754,97000,-2.805611
2,Microsoft,2022,198300,NaN,72700,NaN
1,Microsoft,2023,211900,6.858296,72400,-0.412655
0,Microsoft,2024,245000,15.620576,89000,22.928177
5,Tesla,2022,81500,NaN,12600,NaN
4,Tesla,2023,96800,18.773006,15000,19.047619
3,Tesla,2024,97700,0.929752,7100,-52.666667

In [44]:
df.to_csv('Combined_Financial_Analysis.csv', index=False)